system filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
system/app/* filter=lfs diff=lfs merge=lfs -text
system/lib/* filter=lfs diff=lfs merge=lfs -text
system/la/* filter=lfs diff=lfs merge=lfs -text
system/lib64/* filter=lfs diff=lfs merge=lfs -text
system/priv64/* filter=lfs diff=lfs merge=lfs -text
system/priv-app/SamsungSmartSuggestions/SamsungSmartSuggestions.apk filter=lfs diff=lfs merge=lfs -text
system/priv-app/SecSettings/SecSettings.apk filter=lfs diff=lfs merge=lfs -text
